@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS for animations */
/* @keyframes animated {
    0%, 16.667%, 100% { opacity: 1; }
    33.333%, 83.333% { opacity: 0; }
  }
  
  .text-gradient {
    background: linear-gradient(90deg, var(--start-color), var(--end-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  

  .light-mode {
    display: block;
  }
  
  .dark .light-mode {
    display: none;
  }
  
  .dark-mode {
    display: none;
  }
  
  .dark .dark-mode {
    display: block;
  } */